* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  color: white;
  display: flex;
  justify-content: space-evenly;
  bottom: 0;
  margin-top: 190px;
  position: sticky;
}
